//labeller-specific css overrides

.page-label {
	#badge,
	#flag,
	#secondary,
	#view_cart,
	footer,
	header {
		display   : none !important;
		visibility: hidden !important;
	}

	#location h1 {
		display   : none;
		visibility: hidden;
	}

	#primary {
		margin-left: 0;
	}

	#content,
	#wrap {
		background-image: none;
	}

	#input-box,
	#instructions,
	input,
	label {
		display: none;
	}
	/* Output styles */
	#preview-box {
		height  : 4in;
		left    : 0;
		position: absolute;
		top     : 0;
		width   : 2.5in;

		.printable-area {
			margin  : 0;
			padding : 0 .05in;
			position: absolute;
			top     : 2.35in; //was 2.1in
			width   : 2.5in;
		}
	}

	#alpha,
	#weight-output {
		font-size: 1.3em;
		position : absolute;
		top      : .7in;
	}
}
