//print-specific css overrides for styles defined in label-all.scss
.page-label {
	#badge,
	#flag,
	#secondary,
	#view_cart,
	#sliding_cart,
	footer,
	header {
		display: none !important;
		visibility: hidden !important;
	}

	#location h1 {
		display: none;
		visibility: hidden;
	}

	#primary {
		margin-left: 0;
	}

	#content,
	#wrap {
		background-image: none;
	}

	#input-box,
	#instructions,
	input,
	label {
		display: none;
	}
	/* Output styles */
	#preview-box {
		height: 4in;
		left: 0;
		position: absolute;
		top: 0;
		width: 2.5in;
	}

	#variety-output {
		position: absolute;
		top: 2.4in;
		text-align: center;
	}

	#description {
	position: absolute;
    top: 2.62in;
    left: .05in;
    font-size: .9785em;
    width: 2.2in;
    height: .7in;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
	}


	#alpha,
	#weight-output {
		font-size: 1.5em;
		top: 3.4393701in; //down 1 mm from 3.4
		overflow: hidden;
		height: .4in;
		text-align: center;
	}

	#weight-output {
		position: absolute;
		left: 1.75in;
		width: .65in;
	}

	#alpha {
		position: absolute;
		left: .5in;
		width: .6in;
	}
}
