//labeller-specific css overrides
.page-label {
	.shopping-cart-wrapper,
	div#badge,
	header,
	#flag,
	#secondary,
	#view_cart,
	footer {
		display: none !important;
		visibility: hidden !important;
	}


	#variety-output {
		display: block;
		font-size: 150%;
		font-weight: bold;
		line-height: 1em;
		position: absolute;
		text-align: center;
		width: 98%;
		height: .225in;
		overflow: hidden;
	}



	//http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
	/* mixin for multiline */
	@mixin multi-line-ellipsis($lineHeight: 1.2em, $lineCount: 5, $bgColor: white) {
		overflow: hidden;
		position: relative;
		line-height: $lineHeight;
		max-height: $lineHeight * $lineCount;
		text-align: left;
		margin-right: -.5em;
		padding-right: 1em;
		&:before {
			content: '...';
			position: absolute;
			right: 0;
			bottom: 0;
		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			width: 1em;
			height: 1em;
			margin-top: .2em;
			background: $bgColor;
		}
	}

	#description {
		@include multi-line-ellipsis($lineHeight: 1.2em, $lineCount: 5, $bgColor: white);
		position: relative;
		display: block;
		font-size: 8pt;
		line-height: 1.20em;
		width: 2.3in;
		height: .7in;
		margin: 0;
		padding: .05in .1in 0 .1in;
		overflow: hidden;
		text-align: left;
		vertical-align: baseline;
	}

	#alpha {
		left: .75in;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	#weight-output {
		left: 1.725in;
		margin-right: .05in;
		position: absolute;
		text-align: center;
	}

	#weight-output,
	#alpha {
		font-size: 1.3em;
		position: absolute;
		top: .95in;
	}

	#primary {
		margin-left: 0;
	}

	#wrap,
	#content {
		background-image: none;
	}

	#preview-box {
		color: black;
	}

	html,
	body {
		background: #fff;
	}

	/* Classes from Micky */
	.center,
	.center *,
	.ctr {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	object.center {
		display: block;
	}

	/* Hide certain elements for browsers without CSS: */
	.hide,
	hr {
		display: none !important;
	}

	/* Hiding of elements for assistive devices (screen readers etc): */
	.off {
		position: absolute;
		left: -999em;
		top: -999em;
	}

	/* For fluid, evenly split, columns: */
	.c49p {
		width: 49%;
	}

	/* Just float left/right and you're good. :) */

	/* Left floats: */
	.fl {
		float: left;
		display: inline;
	}

	/* Right floats: */
	.fr {
		float: right;
		display: inline;
	}

	/* Specify clears: */
	.clear:after {
		height: 0;
		display: block;
		clear: both;
		content: '.';
		visibility: hidden;
	}

	/* Clears non-IE. */
	* html .clear {
		zoom: 1;
	}

	/* Clears IE. */

	/* Clearing div (oldschool): */
	div.clearer {
		font-size: 0 !important;    /* Set the font-size to 0 so it isn't visible */
		line-height: 0 !important;  /* Set the line-height to 0 so it isn't visible */
		border: 0 !important;       /* Remove all borders that would make it visible */
		margin: 0 !important;       /* Remove all margins that would make it visible */
		padding: 0 !important;      /* Remove all padding that would make it visible */
		height: .1px !important;   /* Mozilla/Firefox require the clearer height to not be 0, but rounding makes it 0 */
		float: none !important;     /* Remove any inherited floats */
		display: block !important;  /* Make sure our element is a block-level element */
		clear: both !important;     /* Make sure it clears on both sides */
	}

	.ui-helper-hidden-accessible {
		display: none;
		visibility: hidden;
	}
}
