//labeller-specific css overrides

#content {
	padding: 0;
}
.page-label {
	.ui-autocomplete {
		background-color: white;
		border: 1px black;
		max-width: 800px;
		padding: 0 1rem;
	}

	.ui-menu .ui-menu-item {
		list-style: none outside;
	}

	#input-box {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(44%, #8ab66b), color-stop(100%, #398235));
		        border-radius: 10px;
		padding: 10px;
		text-align: left;
		margin-left: 2.6in;
	}

	#variety {
		display: inline;
		text-align: left;
	}
	#variety-output {
		margin: 0 0 1.5rem;
	}

	#weight {
		display: inline;
		text-align: left;
	}

	#instructions {
		background: #b2c3bf; /* Opera 10.5, IE 9 */
		background-color: #c9d9af;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c9d9af), color-stop(1, #9c6)); /* Saf3-4 */
		border-radius: 12px; /* Saf3.0+, Chrome */
		box-shadow: 0 0 4px #fff;
		display: block;
		margin-left: 2.6in;
		margin-top: 5px;
		padding: 5px 10px 200px;
		text-align: left;
	}

	/* Output styles */
	#preview-box {
		background: #fff url('../images/labeller-bg.png') scroll top;
		border: .015in solid #000;
		border-radius: 8px;
		display: block;
		height: 4in;
		margin-top: 5px;
		overflow: hidden;
		position: relative;
		width: 2.5in;
	}

	#description {
		position: relative;
		display: block;
		font-size: 9pt;
		line-height: 1.1em;
		width: 2.4in;
		height: .9in;
		margin: 2em 0 0;
		padding: 0 .05in;
		overflow: hidden;
		text-align: left;
		vertical-align: baseline;
	}

	/* Output styles */
	#preview-box .printable-area {
		margin: 0;
		padding: 0 .05in;
		position: absolute;
		top: 2.1in;
		width: 2.5in;
	}
	#alpha {
		left: .75in;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	#weight-output {
		left: 1.725in;
		margin-right: .05in;
		position: absolute;
		text-align: center;
	}

	#weight-output,
	#alpha {
		font-size: 1.3em;
		position: absolute;
		top: .98in; //just under 1 in from top of print area
	}
}
