@charset  'UTF-8';


/* CSS Document */
//labeller-specific css overrides
.page-id-2190 {
	.ui-autocomplete {
		background-color: white;
		border: 1px black;
		max-width: 800px;
		padding: 0 1rem;
	}

	.ui-menu .ui-menu-item {
		list-style: none outside;
	}

	#input-box {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		background: #c9de96; /* old browsers */
		background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9de96), color-stop(44%, #8ab66b), color-stop(100%, #398235)); /* webkit */
		border-radius: 10px;
		padding: 10px;
		text-align: left;
	}

	#variety {
		display: inline;
		text-align: left;
	}

	#weight {
		display: inline;
		text-align: left;
	}

	#instructions {
		-moz-border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */
		-moz-box-shadow: 0 0 4px #fff;
		-ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#c9d9af\', EndColorStr=\'#99CC66\')'; /* FF1+ */
		-webkit-border-radius: 12px; /* FF3.5+ */
		-webkit-box-shadow: 0 0 4px #fff;
		background: #b2c3bf; /* Opera 10.5, IE 9 */
		background-color: #c9d9af;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c9d9af), color-stop(1, #9c6)); /* Saf3-4 */
		border-radius: 12px; /* Saf3.0+, Chrome */
		box-shadow: 0 0 4px #fff;
		display: block;
		margin-left: 2.6in;
		margin-top: 5px;
		padding: 5px 10px 200px 10px;
		text-align: left;
	}

	/* Output styles */
	#preview-box {
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		background: #fff url(../images/labeller-bg.png) scroll top;
		border: .015in solid #000;
		border-radius: 8px;
		display: block;
		height: 4in;
		margin-top: 5px;
		overflow: hidden;
		position: relative;
		width: 2.5in;
	}

	/* Output styles */
	#preview-box .printable-area {
		margin: 0;
		padding: 0 .05in;
		position: absolute;
		top: 2.1in;
		width: 2.5in;
	}

	#variety-output {
		display: block;
		font-size: 150%;
		font-weight: bold;
		line-height: .85em;
		position: absolute;
		text-align: center;
		width: 97%;
	}

	#description {
		display: block;
		font-size: 8pt;
		height: 1.1in;
		line-height: 1.20em;
		margin: 0;
		overflow: hidden;
		padding: .25in .1in 0 .1in;
		position: relative;
		text-align: left;
		vertical-align: baseline;
		width: 2.3in;
	}

	#alpha {
		left: .75in;
		margin: 0;
		padding: 0;
		position: absolute;
	}

	#weight-output {
		left: 1.725in;
		margin-right: .05in;
		position: absolute;
		text-align: center;
	}

	#weight-output,
	#alpha {
		font-size: 1em;
		top: 1in;
		position:absolute;
	}

}
