h1, h2, h3, h4, h5, h6 {
	
	font: {
		family: Arial, sans-serif;
		weight: bold;
	}
	line-height: 1.25;
	word: {
		spacing: .12em;
		wrap: break-word;
	}
	color: #000;
	overflow-wrap: break-word;
	margin: {
		top: 0;
		bottom: 25px;
	}
	padding: 0;
	
	& + & {
		margin-top: -20px;
	}
	
}

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	font-style: normal;
}

h1, .h1, .sh1 {
	font-size: 30px;
	letter-spacing: .025em;
}

h2, .h2, .sh2 {
	font-size: 28px;
	letter-spacing: .03em
}

h3, .h3, .sh3 {
	font-size: 26px;
	letter-spacing: .035em;
}

h4, .h4, .sh4 {
	font-size: 22px;
	letter-spacing: .04em;
}

h5, .h5, .sh5 {
	font-size: 20px;
	letter-spacing: .045em;
}

h6, .h6, .sh6 {
	font-size: 18px;
	letter-spacing: .05em;
}

h1:empty { display: none; }

fieldset {
	
	padding: 0;
	border: 0;
	
	legend {
		font-weight: bold;
	}
	
}


#view-cart {
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

dl {
	
	dt {
		font-weight: bold;
		//text-transform: uppercase;
		//letter-spacing: .05em;
		//word-spacing: .15em;
		line-height: 20px;
		margin: 0 0 5px;
	}
	
	dd {
		line-height: 18px;
		margin: 0 0 10px;
	}
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}

.sidebar {
	
	margin-top: 20px;
	
	@media all and (min-width: 960px) {
		
		margin-top: 0;
		
	}
	
}

.widget {
	
	margin: 20px 0;
	padding: 0;
	
	.widgettitle {
		color: darken(#719b37, 20%);
		border-bottom: 2px solid #719b37;
	}
	
}

#cart {
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}

.visitshop {
	display: inline-block;
	margin-top: 5px;
	font-weight: bold;
}

.split {
	
	@media all and (min-width: 960px) {
		
		-webkit-column-count: 2;
		   -moz-column-count: 2;
		    -ms-column-count: 2;
		     -o-column-count: 2;
		        column-count: 2;
		
		-webkit-column-gap: 20px;
		   -moz-column-gap: 20px;
		    -ms-column-gap: 20px;
		     -o-column-gap: 20px;
		        column-gap: 20px;
		
	}
	
}

.product-details {
	
	padding: 10px 20px 25px;
	
	> h3 {
		
		border-bottom: 2px solid;
		margin: 0 0 25px;
		padding: 0 0 5px;
		
		&:first-child {
			color: #3a770c;
			text-transform: uppercase;
			border-bottom: 0;
		}
		
	}
	
	blockquote.highlight {
		font-size: 18px;
		color: darken(#feefb3, 60%);
		background: rgba(#feefb3, .5);
		margin: 20px 0;
		padding: 20px;
		border-radius: 5px;
	}
	
	.percentage-columns {
		margin-bottom: 25px;
	}
	
}

.bne-testimonial-list-wrapper {
	
	.single-bne-testimonial {
		position: relative;
		padding: 30px 0 30px;
		border-width: 1px 0;
		border-style: solid;
		border-color: #719b37;
		margin: -1px 0 0 !important;
	}
	
	.bne-testimonial-heading,
	.bne-testimonial-details {
		
		font-size: 18px;
		font-family: Georgio, serif;
		font-weight: normal;
		letter-spacing: normal;
		line-height: 18px;
		position: absolute;
		right: 0;
		bottom: 5px;
		margin: 0;
		
		&::before { content: "– "; }
		
	}
	
	.bne-testimonial-details { display: none; }
	
	p {
		font-size: 18px;
		font-style: italic;
	}
	
	.bne-testimonial-description {
		
		margin-left: 50px;
		position: relative;
		
		> :first-child { margin-top: 0; }
		> :last-child { margin-bottom: 0; }
		
		&::before,
		&::after {
			font-size: 125px;
			color: rgba(#719b37, .25);
			line-height: 1;
			position: absolute;
		}
		
		&::before {
			top: -15px;
			left: -50px;
			content: "“";
		}
		
	}
	
}

input[class$="-submit"] {
	@extend .green-btn;
	margin: 10px 0;
	padding: 5px 50px;
}

.group { margin-bottom: 10px; }
