.page-label {
  /* Classes from Micky */
  /* Hide certain elements for browsers without CSS: */
  /* Hiding of elements for assistive devices (screen readers etc): */
  /* For fluid, evenly split, columns: */
  /* Just float left/right and you're good. :) */
  /* Left floats: */
  /* Right floats: */
  /* Specify clears: */
  /* Clears non-IE. */
  /* Clears IE. */
  /* Clearing div (oldschool): */ }
  .page-label .shopping-cart-wrapper,
  .page-label div#badge,
  .page-label header,
  .page-label #flag,
  .page-label #secondary,
  .page-label #view_cart,
  .page-label footer {
    display: none !important;
    visibility: hidden !important; }
  .page-label #variety-output {
    display: block;
    font-size: 150%;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    text-align: center;
    width: 98%;
    height: .225in;
    overflow: hidden; }
  .page-label #description {
    display: block;
    font-size: 8pt;
    height: 1in;
    line-height: 1em;
    overflow: hidden;
    margin: .25in .1in 0;
    position: relative;
    text-align: left;
    vertical-align: baseline;
    width: 2.3in; }
  .page-label #alpha {
    left: .75in;
    margin: 0;
    padding: 0;
    position: absolute; }
  .page-label #weight-output {
    left: 1.725in;
    margin-right: .05in;
    position: absolute;
    text-align: center; }
  .page-label #weight-output,
  .page-label #alpha {
    font-size: 1.3em;
    position: absolute;
    top: 0.95in; }
  .page-label #primary {
    margin-left: 0; }
  .page-label #wrap,
  .page-label #content {
    background-image: none;
    padding: 0;
    background-color: #FFF; }
  .page-label #preview-box {
    background: white;
    color: black; }
  .page-label html,
  .page-label body {
    background: #FFFFFF; }
  .page-label .center,
  .page-label .center *,
  .page-label .ctr {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .page-label object.center {
    display: block; }
  .page-label .hide,
  .page-label hr {
    display: none !important; }
  .page-label .off {
    position: absolute;
    left: -999em;
    top: -999em; }
  .page-label .c49p {
    width: 49%; }
  .page-label .fl {
    float: left;
    display: inline; }
  .page-label .fr {
    float: right;
    display: inline; }
  .page-label .clear:after {
    height: 0;
    display: block;
    clear: both;
    content: '.';
    visibility: hidden; }
  .page-label * html .clear {
    zoom: 1; }
  .page-label div.clearer {
    font-size: 0 !important;
    /* Set the font-size to 0 so it isn't visible */
    line-height: 0 !important;
    /* Set the line-height to 0 so it isn't visible */
    border: 0 !important;
    /* Remove all borders that would make it visible */
    margin: 0 !important;
    /* Remove all margins that would make it visible */
    padding: 0 !important;
    /* Remove all padding that would make it visible */
    height: 0.1px !important;
    /* Mozilla/Firefox require the clearer height to not be 0, but rounding makes it 0 */
    float: none !important;
    /* Remove any inherited floats */
    display: block !important;
    /* Make sure our element is a block-level element */
    clear: both !important;
    /* Make sure it clears on both sides */ }
  .page-label .ui-helper-hidden-accessible {
    display: none;
    visibility: hidden; }
