.page-label {
  /* Output styles */ }
  .page-label #badge,
  .page-label #flag,
  .page-label #secondary,
  .page-label #view_cart,
  .page-label #sliding_cart,
  .page-label footer,
  .page-label header {
    display: none !important;
    visibility: hidden !important; }
  .page-label #location h1 {
    display: none;
    visibility: hidden; }
  .page-label #primary {
    margin-left: 0; }
  .page-label #content,
  .page-label #wrap {
    background-image: none; }
  .page-label #input-box,
  .page-label #instructions,
  .page-label input,
  .page-label label {
    display: none; }
  .page-label #preview-box {
    height: 4in;
    left: 0;
    position: absolute;
    top: 0;
    width: 2.5in; }
  .page-label #variety-output {
    position: absolute;
    top: 2.4in;
    text-align: center; }
  .page-label #description {
    position: absolute;
    top: 2.62in;
    left: .05in;
    font-size: .9785em;
    width: 2.2in;
    height: .7in;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left; }
  .page-label #alpha,
  .page-label #weight-output {
    font-size: 1.5em;
    top: 3.4393701in;
    overflow: hidden;
    height: .4in;
    text-align: center; }
  .page-label #weight-output {
    position: absolute;
    left: 1.75in;
    width: .65in; }
  .page-label #alpha {
    position: absolute;
    left: .5in;
    width: .6in; }
