@charset "UTF-8";
html,
body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background: #c9d9af url(../images/template/bg.png) repeat-y;
}
body {
  color: #394e1c;
}
p {
  font-size: 108%;
}
#primary {
  margin-left: 260px;
}
* html #primary {
  height: 1%;
  margin: 0;
}
#secondary {
  width: 250px;
  float: left;
  display: inline;
}
* html #secondary {
  margin-right: 7px;
}
#wrap {
  width: 100%;
  float: left;
  display: inline;
  background: #e8efdc url(../images/template/shadow-02.png) repeat-y;
}
#menu-main-nav-order {
  padding: 0 0 10px;
  background: #1a1a1a;
}
#menu-main-nav-order div {
  background: url(../images/template/order-button.png) no-repeat center top;
  height: 50px;
}
#menu-main-nav-order div a {
  display: block;
  width: 100%;
  height: 100%;
}
#menu-main-nav-order ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu-main-nav-order ul li {
  list-style-type: none;
  background: #0f0f0f;
  border: 2px solid #242424;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 3px 25px;
  line-height: normal;
}
#menu-main-nav-order ul li a {
  font-size: 93%;
  text-decoration: none;
  display: block;
  padding: 5px;
  color: #719b37;
}
#menu-main-nav-order ul li a:visited {
  color: #719b37;
}
#menu-main-nav-order ul li a:visited:hover,
#menu-main-nav-order ul li a:focus,
#menu-main-nav-order ul li a:focus:hover,
#menu-main-nav-order ul li a:hover,
#menu-main-nav-order ul li a:active {
  color: #bbb749;
  text-decoration: none;
}
.clear:after {
  height: 0;
  display: block;
  clear: both;
  content: '.';
  visibility: hidden;
}
* html .clear {
  zoom: 1;
}
#flag {
  overflow: hidden;
}
#flag h6 {
  margin: 0;
  padding: 0;
}
#flag,
#flag h6,
#flag h6 a {
  width: 250px;
  height: 247px;
}
#flag h6 a {
  text-indent: -999em;
  background-image: url(../images/template/freshops-logo.png);
  background-repeat: no-repeat;
  background-position: 0 -247px;
  display: block;
}
#flag h6 a:hover {
  background-position: 0 0;
}
/* Remove the pesky outline in Firefox: */
/* RE: http://sonspring.com/journal/removing-dotted-links */
#flag h6 a:active,
#flag h6 a:focus {
  outline: none;
}
#hops {
  position: relative;
}
#hops div {
  width: 301px;
  height: 644px;
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
}
html > body #hops div {
  background: url(../images/template/hop-graphic.png) no-repeat;
}
* html #hops div {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/hop-graphic.png', sizingMethod='scale');
}
#badge {
  position: relative;
}
#badge div {
  width: 79px;
  height: 79px;
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 10px;
}
html > body #badge div {
  background: url(../images/template/badge.png) no-repeat;
}
* html #badge div {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/template/badge.png', sizingMethod='scale');
}
#location {
  background: #fafcf8 url(../images/template/border-01.png) repeat-x left bottom;
}
#location div {
  background: url(../images/template/grunge-01.png) no-repeat left bottom;
}
#location div h1 {
  margin: 0 0 0 95px;
  padding: 10px 0 15px;
  color: #3a770c;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 167%;
  line-height: 1;
}
.nav {
  background: #c9d9af url(../images/template/border-02.png) repeat-x left bottom;
}
.nav div {
  background: url(../images/template/grunge-02.png) no-repeat left bottom;
}
#content {
  background: url(../images/template/grunge-03.png) no-repeat;
  padding: 40px 50px 0px 50px;
  /* was 40px 50px */
}
#footer {
  background: #c9d9af url(../images/template/border-03.png) repeat-x;
  height: 359px;
}
#footer div {
  height: 359px;
  padding: 40px 50px;
  background: url(../images/template/grunge-04.png) no-repeat;
}
#footer div p {
  font-size: 100%;
  line-height: 1.5;
  color: #394e1c;
  margin: 0;
  padding: 0;
}
.center,
.center * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
object.center {
  display: block;
}
/* Hide certain elements for browsers without CSS: */
.hide,
hr {
  display: none !important;
}
/* Hiding of elements for assistive devices (screen readers etc): */
.off {
  position: absolute;
  left: -999em;
  top: -999em;
}
/* For fluid, evenly split, columns: */
.c49p {
  width: 49%;
}
/* Just float left/right and you're good. :) */
/* Left floats: */
.fl {
  float: left;
  display: inline;
}
/* Right floats: */
.fr {
  float: right;
  display: inline;
}
/* Specify clears: */
.clear:after {
  height: 0;
  display: block;
  clear: both;
  content: '.';
  visibility: hidden;
}
/* Clears non-IE. */
* html .clear {
  zoom: 1;
}
/* Clears IE. */
/* Clearing div (oldschool): */
div.clearer {
  font-size: 0 !important;
  /* Set the font-size to 0 so it isn't visible */
  line-height: 0 !important;
  /* Set the line-height to 0 so it isn't visible */
  border: 0 !important;
  /* Remove all borders that would make it visible */
  margin: 0 !important;
  /* Remove all margins that would make it visible */
  padding: 0 !important;
  /* Remove all padding that would make it visible */
  height: 0.1px !important;
  /* Mozilla/Firefox require the clearer height to not be 0, but rounding makes it 0 */
  float: none !important;
  /* Remove any inherited floats */
  display: block !important;
  /* Make sure our element is a block-level element */
  clear: both !important;
  /* Make sure it clears on both sides */
}
/* Note: Move below to "navigation.css" later. */
.nav ul {
  margin: 0;
}
.nav ul,
.nav ul li {
  margin: 0;
  padding: 0;
}
.nav ul {
  margin: 0 0 0 95px;
}
.nav ul li {
  list-style-type: none;
  float: left;
  display: inline;
}
.nav ul li a {
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #59694a;
  padding: .5em;
  display: block;
  cursor: pointer;
}
.nav ul li a:visited {
  color: #6c6e73;
}
.nav ul li a:visited:hover,
.nav ul li a:focus,
.nav ul li a:focus:hover,
.nav ul li a:hover,
.nav ul li a:active,
.nav ul li.ui-tabs-selected a {
  color: #fff;
  background: #96b477 url(../images/template/border-04.png) repeat-x left bottom;
}
/* Looks better: */
.nav ul li a:active,
.nav ul li a:focus {
  outline: 0;
}
