#container {
 @media all and (min-width: 640px) {
  position: relative;
  &::after {
   clear: both;
   content: '';
   display: table;
   }
  }
 }

#flag {
 height: 36px;
 left: 10px;
 margin: 0;
 padding: 0;
 position: absolute;
 top: 3px;
 width: 143px;
 z-index: 20; // Put it above mean menu.
 a {
  background: {
   image: url(../images/rhizome/freshops-logo-small.png);
   repeat: no-repeat;
   size: cover;
   }
  display: block;
  height: 100%;
  text-indent: -999em;
  width: 100%;
  .no-touch &:hover { background-position: 0 0; }
  &:active,
  &:focus { outline: none; }
  @media all and (min-width: 640px) {
   background: {
    position: 0 -247px;

    image: url(../images/rhizome/freshops-logo.png);
    }
   }
  }
 @media all and (min-width: 640px) {
  height: 247px;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  top: 0;
  width: 250px;
  }
 }

#secondary {
 display: none;
 @media all and (min-width: 640px) {
  display: inline;
  float: left;
  padding-top: 247px; // Matches `#flag` height.
  width: 250px;
  * html & { margin-right: 7px; }
  }
 }

#hops {
 @media all and (min-width: 640px) {
  position: relative;
  div {
   background: url(../images/rhizome/hop-graphic.png) no-repeat;
   height: 644px;
   left: 0;
   position: absolute;
   top: 0;
   width: 301px;
   z-index: 200;
   }
  }
 }

#primary {
 @media all and (min-width: 640px) {
  margin-left: 260px;
  // Clear `#wrap`:
  &::after {
   clear: both;
   content: '';
   display: table;
   }
  }
 }

#wrap {
 background: #e8efdc;
 // For `#badge`:
 position: relative;
 @media all and (min-width: 640px) {
  background: {
   image: url(../images/rhizome/shadow-02.png);
   repeat: repeat-y;
   }
  display: inline;
  float: left;
  width: 100%;
  }
 }

#badge {
 display: none;
 @media all and (min-width: 960px) {
  background: url(../images/rhizome/badge.png) no-repeat;
  display: block;
  height: 79px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 79px;
  z-index: 100;
  }
 }

#location {
 background: #fafcf8 url(../images/rhizome/border-01.png) repeat-x left bottom;
 div { background: url(../images/rhizome/grunge-01.png) no-repeat left bottom; }
 h1 {
  color: #3a770c;
  font-size: 22px;
  letter-spacing: .03em;
  line-height: 1;
  margin: 0 0 0 20px;
  padding: 10px 0;
  text-transform: uppercase;
  @media all and (min-width: 960px) {
   margin-left: 95px;
   }
  }
 }

.deck {
 background: #c9d9af url(../images/rhizome/border-02.png) repeat-x left bottom;
 div { background: url(../images/rhizome/grunge-02.png) no-repeat left bottom; }
 h2 {
  color: #061c06;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 0 20px;
  padding: 10px 0;
  @media all and (min-width: 960px) {
   margin-left: 95px;
   }
  }
 }

#content {
 background: url(../images/rhizome/grunge-03.png) no-repeat;
 padding: 50px 20px;
 //min-height: 600px; // Just looks better.
 @media all and (min-width: 640px) {
  padding: 50px;
  }
 }

#footer {
 background: #c9d9af url(../images/rhizome/border-03.png) repeat-x;
 font-size: smaller;
 height: 359px;
 line-height: 1.5;
 div {
  background: url(../images/rhizome/grunge-04.png) no-repeat;
  height: 359px;
  padding: 10px 20px;
  p {
   color: #394e1c;
   margin: 0;
   padding: 0;
   }
  @media all and (min-width: 640px) {
   padding: 25px 50px;
   }
  }
 a {
  color: #2d3e16;
  text-decoration: none;
  .no-touch &:hover { text-decoration: underline; }
  }
 }
